################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/backend/Evently/Evently.API/Models/Actividad.cs
